[2018-10-26 12:50] m4d-maNu opened #2 "Multi Hub Support?"
Hi,
I have 2 Hubs, but the plugin find only 1.

Is the Multi Hub Support included from the old Plugin?

[2018-10-29 12:56] nexttoyou opened #3 "Error with UUID"
Hello,

there seems to be a problem with a non valid UUID at least at my side. I’m running your plugin with homebridge in a Docker container using [oznu/homebridge-syno-spk](https://github.com/oznu/homebridge-syno-spk) on a Synology Disk Station.

Many thanks in advance!

[code]

[2018-10-29 14:36] nicoh88 commented on #3
Same here with RPi 3 und Homebridge

[code]

[2018-10-29 17:43] materik commented on #2
@m4d-maNu could you provide the log for when you start up your homebridge with the -D flag?

[2018-10-29 17:56] materik commented on #3
@nexttoyou @nicoh88 could you try this potential fix by installing
[code]

[2018-10-29 18:37] nicoh88 commented on #3
Yes! It works!

[code]

Thanks Bro! 👍

[2018-10-29 19:25] materik commented on #3
Awesome 👏

[2018-10-29 19:28] materik commented on #3
I have released this fix as version 0.4.0.
[code]

[2018-10-29 19:40] nicoh88 commented on #3
Perfect, thanks. 😋

You could / should edit the `package.json`, version 0.2.0 to 0.4.0. 😅

[2018-10-30 08:13] materik commented on #3
Ah. Forgot that. Thanks! 😉

[2018-10-30 19:52] m4d-maNu commented on #2
`sudo homebridge -D -U ~/.homebridge-harmony
[2018-10-30 13:36:00] Loaded config.json with 0 accessories and 1 platforms.
[2018-10-30 13:36:00] ---
[2018-10-30 13:36:01] Loaded plugin: homebridge-harmonyhub
[2018-10-30 13:36:01] Registering platform 'homebridge-harmonyhub.HarmonyHub'
[2018-10-30 13:36:01] ---
[2018-10-30 13:36:01] Loading 1 platforms...
[2018-10-30 13:36:01] [HarmonyHub] Initializ

[2018-10-31 08:51] materik commented on #2
Hmm. I rely on another npm package to fetch the hubs so if it doesn't find any more I cannot do much about it. Try removing the cached accessories maybe.

[2018-11-01 07:44] m4d-maNu commented on #2
I trying, but only find 1 Hub.

[2018-11-04 14:18] DJay-X commented on #3
@materik Just removed the "old" HarmonyHub Plugin and switched to yours @0.4.0.
Works gerat. RPi 3B+ Homebridge  0.4.45, Node 11.1.0
Thanks a lot for your work and sharing, and if necessary for your ongoing development. 👍🏻

[2018-11-05 18:45] UrsLebowski commented on #2
Hello, I can report the same. I've distributed a total of four Harmony HUBs in the house. up to the version 0.3.0 alpha2 all actions were presented to me as a switch in the HomeKit. Here at 0.4.0 I get only the auction of only one harmony I've shown

[2018-11-05 18:53] materik commented on #2
@UrsLebowski so does KraigM's repo work for you? can you print your log? Thanks

[2018-11-05 19:07] UrsLebowski commented on #2
hello, up to the version 0.3.0 the plugin was not usable for me. it crashed permanently. For all actions of all 4 HUBs switches have been created in HomeKit. but it was always only a few minutes use. Version 0.4.0 has been stable for several days now. Unfortunately, only the actions of one Harmony-HUB are shown to me.
________________________________
Von: Mattias Eriksson <notifications@github.com

[2018-11-06 07:56] materik commented on #2
Ok. I don't feel you answered my questions. So difficult for me to debug this since I only have one hub myself.

[2018-11-07 18:40] UrsLebowski commented on #2
Last login: Wed Nov  7 19:02:52 on console
CC_33_3D_E3_CE_20:~ smarthome$ homebridge
[7.11.2018, 19:36:27] Loaded config.json with 0 accessories and 2 platforms.
[7.11.2018, 19:36:27] ---
[7.11.2018, 19:36:27] Loaded plugin: homebridge-harmonyhub
[7.11.2018, 19:36:27] Registering platform 'homebridge-harmonyhub.HarmonyHub'
[7.11.2018, 19:36:27] ---
[7.11.2018, 19:36:27] Loaded plugin: homebridge-i

[2018-11-09 12:28] m4d-maNu commented on #2
Sorry for the late answer.

When I use KraigM's Harmonyhub plugin, my two hubs are found. But with this plugin comes the "MaxError"  Error.

[2018-11-12 17:31] DJay-X opened #6 "Hub is rebooting (red led) more than before"
@materik First of all thanks for you work and sharing.
I use your plugin a couple of days now and it might be a coincidence that I noticed that my Hub is showing the red LED (reboot?) more often now. In the past I only did notice this very rarely.
Can this be in relation?

Also I noticed that changing the actual state is slower than before with the "old" (homebridge-harmonyhub v0.3.0-alpha.2). As

[2018-11-13 09:10] materik commented on #2
Ok. Cool. This log might be able to identify where the issue might be. I'll have a look as soon as possible. Might not be until the weekend however.

[2018-11-13 09:12] materik commented on #6
Great. Thanks for helping me improve the project. I can have a look.

[2018-11-14 15:37] homohurre123 opened #7 "Harmony Hub listed as one device and shown as not supported."
I added you plugin with the latest version to my Homebridge running on Raspberry Pi with the Homebridge App.
Now I can see "Harmony Hub" as one device which isn't supported and It doesn't detect the Scenes I have saved. Any Idea what could be the reason and how to help me? Homebridge is stable beside this.
Thanks a lot for your effort in advance!

[2018-11-14 17:04] homohurre123 commented on #7
Nevermind It was my Bad because my Harmony had an Issue on its own. Great Work Dude!

[2018-11-14 17:04] #7 closed

[2018-11-15 07:49] materik commented on #7
:+1:

[2018-12-19 08:59] bkonings opened #8 "Does this work with Hub firmware 206"
It is unclear to me if this plugin is effected by the local connection change in firmware 206 of the harmony hub. I suspect it won't work?

[2018-12-19 09:54] JotWee commented on #8
No, it works with 201 and stops working with 206

[2018-12-19 12:36] bkonings commented on #8
This home assistant development seems to have figured out how to use the web sockets implementation.

https://github.com/iandday/pyharmony/pull/21/commits

[2018-12-19 19:00] twynne opened #9 "Can't install"
Trying to move to this from the old Harmony platform plugin (which I've now removed), but install fails.  Log shows the following:

1 verbose cli [ '/usr/local/Cellar/node/10.11.0/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'materik/homebridge-harmonyhub#0.4.0' ]
2 info using npm@6.4.1
3 info using node@v10.11.0
4 verbose npm-se

[2018-12-20 08:17] DJay-X commented on #8
@materik We appreciate your work. Is there a chance you find a way to get your plugin to work with the  trouble Logitech Harmony with >v.206 is giving us?
Thanks in advance for the time you are investing and your help.

[2018-12-20 12:12] materik commented on #9
you seem to get a permission denied for some reason. don't think it's related to the package 🤞

[2018-12-20 12:16] materik commented on #8
I haven't experienced any problems myself probably because I haven't upgrade to that Harmony version. All my interaction with Logitech Harmony is done through another npm package, so my guess is that he needs to release a fix.

[2018-12-20 12:34] DJay-X commented on #8
What npm package is this?
THX

[2018-12-20 12:36] DJay-X commented on #9
@twynne try

`sudo chown -R $USER /usr/local && npm install materik/homebridge-harmonyhub#0.4.0 -g`

[2018-12-20 13:05] twynne commented on #9
Thanks @DJay-X .. sadly I get 'Operation not permitted'... afraid I'm not much of a terminal expert.  Anything obvious?

[2018-12-20 13:17] twynne commented on #9
Managed to get it going, though I've no idea what changed as the change permissions didn't appear to work.  Anyway now that it's installed, I'm seeing the same issue as another person posted that it only picks up 1 of 2 hubs.  Will post about that elsewhere.

Thanks for help. :)

[2018-12-20 13:18] twynne commented on #2
Seeing the same here.. 1 of 2 hubs detected.  Let me know if I can share any information to add to the above.

[2018-12-20 13:50] materik commented on #2
Sorry everyone. Haven't had time to look into this. If someone else can have a look and make a PR i'm all for it!

[2018-12-20 13:51] #9 closed

[2018-12-20 13:53] materik commented on #8
@DJay-X https://github.com/AirBorne04/harmonyhub/tree/master

[2018-12-20 13:53] twynne commented on #2
Only wish I had the skill!

One thing to add... One of my hubs (the one detected) is on firmware .193. The other is on .201

[2018-12-20 13:55] materik commented on #2
@twynne can it be related to #8

[2018-12-20 13:56] twynne commented on #2
Sadly no... Only one of my hubs had updated to 206, and I downgraded it. That's the one that now works with your plugin.

[2018-12-20 16:41] Phoenix-DH opened #10 "Connection error"
Hi,

I tried your version, but I get also this error message:
[code]

Buttons in homebkit not working.

[2018-12-21 19:54] ak-enad commented on #8
Hi materik !

XMPP versus WebSocket ! :
https://www.jeedom.com/forum/viewtopic.php?f=142&t=41528&p=677221#p677221

akenad :)

[2018-12-21 20:34] DJay-X commented on #8
Logitech is reacting and gives developers the following instruction.
I hope somebody will help the homebridge community to keep a harmony plugin working.
Thanks

[2018-12-21 22:49] nicoduj commented on #8
Hi, I tried a first plugin using websockets  to "counter" their removal of xmpp :
https://www.npmjs.com/package/homebridge-harmony
https://github.com/nicoduj/homebridge-harmony
Feel free to try, at your own risks !
(code is still dirty, just a first try / work in progess)

[2019-01-01 15:09] perlbo commented on #3
does this version work now with firmware 206 ?

[2019-01-01 15:10] perlbo commented on #8
does this version work now with firmware 206 ?

[2019-01-04 10:45] stefantitu commented on #10
Same here

[2019-01-06 00:44] iharosi commented on #8
Hey @materik!

Check out @AirBorne04's comment here: https://github.com/AirBorne04/harmonyhub/issues/20#issuecomment-451682169
It seems like the `@harmonyhub/client` can be replaced with `@harmonyhub/client-ws`.

[2019-01-07 11:59] materik commented on #8
@iharosi cool. thanks. will have a look as soon as i have time.

[2019-01-10 18:08] materik commented on #8
Hi guys. Again, sorry for the slow response on my part. I've now changed the client dependency to `client-ws` so hopefully this will solve this firmware issue. Please test it out by installing the `develop` branch: ```npm install -g materik/homebridge-harmonyhub#develop``` and then run ```homebridge -D```. Post the log if you have any more issues. Thanks for all your help @iharosi @perlbo @ak-enad

[2019-01-10 18:20] nicoh88 commented on #8
@materik

**Works for me.** Thanks.

Only an error message during installation with `npmjs`, but without effects:

[code]

[2019-01-10 18:39] materik commented on #8
@nicoh88 awesome! thanks a lot!

[2019-01-10 18:40] nicoh88 opened #12 "npm publish"
Why have not you released your plugin with NPM yet?

Then `npm -g outdated --long` would also run properly and display when there is a new version.

[2019-01-10 18:41] materik commented on #12
I should. Wanted to wait before it felt more stable. Might be good time to tho :)

[2019-01-10 18:43] nicoh88 commented on #12
Compared to what others publish, yours is awesome.

[2019-01-10 18:43] materik commented on #10
@Phoenix-DH @stefantitu I made a fix for #8 that might solve this issue as well. Could you try installing ```npm install -g materik/homebridge-harmonyhub#develop``` and see if that works for you?

[2019-01-10 18:53] materik commented on #12
I'll wait for one other person to confirm the solution to #8 and after it has been closed I will publish :+1:

[2019-01-10 21:07] AirBorne04 commented on #8
hi @materik i just updated the package, due to an issue with the stateDigest processing. So give it a try with version 1.0.2 and it should be fine

[2019-01-10 22:07] iharosi commented on #8
@materik @AirBorne04 great work guys! Thank you so much it works like a charm.

[2019-01-11 07:56] materik commented on #8
@AirBorne04 thanks. will do. @iharosi thanks!

[2019-01-11 11:45] AirBorne04 commented on #2
hi @materik i think i found the reason for this behavior, in [here](https://github.com/materik/homebridge-harmonyhub/blob/408d95fca33f0d29f48dfbe65437591ee112c188/lib/harmonyhub.js#L27) the promise is resolved as soon as one update event is received, therefore whichever hub gets to respond first is the one found, maybe it would be better to do a kind of timeout here to give all hubs the chance to

[2019-01-11 12:02] materik commented on #2
@AirBorne04 awesome. thanks for the advice. i had a look at this yesterday and couldn't figure it out. will have another look now!

[2019-01-11 13:06] zerogiant commented on #8
@materik switched to the develop build and everything appears to be working again with hub's 206 update

[2019-01-11 17:14] materik commented on #8
Did update `client-ws` to 1.0.2 per @AirBorne04's comment and merged the PR to master so now `5.0.0` has the fixed version.

[2019-01-11 17:14] #8 closed

[2019-01-11 17:41] materik commented on #2
@m4d-maNu @twynne I've now made a fix to `develop` so if you don't mind install ```npm install -g materik/homebridge-harmonyhub#develop``` and run ```homebridge -D``` and see if that works. if you have more issues please post the log.

[2019-01-11 17:43] materik commented on #6
@DJay-X after installing the fix to #3 (v0.5.0) could you verify this this is still an issue. Thanks!

[2019-01-11 18:12] materik commented on #12
it's published 🥳 https://www.npmjs.com/package/@materik/homebridge-harmonyhub

[2019-01-12 11:36] nicoh88 commented on #12
Uh, problem.

With `npm install -g @materik/homebridge-harmonyhub` the packages becomes installed in `/usr/lib/node_modules/@materik/homebridge-harmonyhub`.

Homebridge doesn't found the plugin...

[code]

[2019-01-12 12:42] materik commented on #12
you're right. the problem is HomeBridge cannot find the plugin if it's within two folders. would have though UPDATE1 would solve it. the easiest fix is probably to rename the package but not sure what to call it then since `homebridge-harmonyhub` is taken :P

[2019-01-12 13:05] materik commented on #12
changed the name to `homebridge-harmonyhub-plugin` which can now be installed by `npm install -g  homebridge-harmonyhub-plugin`. the `@materik/homebridge-harmonyhub` package has been removed.

[2019-01-12 13:05] #12 closed

[2019-01-12 16:48] DJay-X commented on #6
@materik Thanks for your ongoing work. Unfortunately I can't test your plugin at the moment. But I will do as soon as possible and give a feedback.
Can you explain what the difference/advantage is of your plugin and @nicoduj https://github.com/nicoduj/homebridge-harmony ?
And have you guys ever considered to work together on one plugin? You both seem to have great knowledge and together is always

[2019-01-25 18:57] VeniceNerd commented on #2
Hi guys,

I have v0.5.4 installed (fresh install) and the plugin only finds one of my two hubs. KraigM's repro used to find both. Here is a readout of my logs:

[code]

[2019-01-26 13:35] pgrill79 opened #13 "harmonyhub:discover:responsecollector handle new connection"
I have installed the latest firmware 4.15.210 which enables the API on Harmony Hub again.

see here:
https://community.logitech.com/s/question/0D55A00008D4bZ4SAJ/harmony-hub-firmware-update-fixes-vulnerabilities

Actually everything works fine and i get all the actions on my harmony:

[2019-1-26 14:22:29] [homebridge-harmonyhub-plugin] {HarmonyHub} Found <1> hubs
[2019-1-26 14:22:29] [homebridge-h

[2019-01-26 14:05] Pensive opened #14 "Addition to readme"
Can I suggest for clarity you include in the readme that:
1) This plugin works locally using XMPP
2) This requires that your hub is firmware flashed to the beta XMPP supported firmware version 4.15.206 via the desktop harmony tool

Just so that everyone is clear - and once they've finally provided XMPP access again in the main builds it can be removed :)

Thanks for the plugin - flashing my firmwa

[2019-01-26 19:48] RienduPre commented on #2
5.3 develp version does work with multiple hubs. See my post.

The plugin writer needs to update the code to a new version and publish it

[2019-01-27 08:56] DJay-X commented on #6
Closed because can't reproduce anymore. In case of this issue happens again, I'll reopen.
Thx.

[2019-01-27 08:56] #6 closed

[2019-01-28 19:46] homohurre123 opened #15 "New TV interface?"
Will there be an update where we can use the new added tv interfaces or is it impossible with Harmony ?

[2019-01-29 07:47] materik commented on #15
Will have a look

[2019-01-29 13:37] materik commented on #14
But this project doesn't rely on xmpp anymore since I change the harmony dependency to https://github.com/AirBorne04/harmonyhub/tree/develop/packages/client-ws. Or I'm I missing something?

[2019-01-29 13:43] materik commented on #2
This fix were only done on the develop branch. It's now merged to 0.5.5. Please try again and if there is still an issue I will reopen this.

[2019-01-29 13:43] #2 closed

[2019-01-29 13:44] materik commented on #10
Closing this since I haven't heard of the problem persisting.

[2019-01-29 13:44] #10 closed

[2019-01-29 13:46] materik commented on #13
Hmm. Are you running with some kind of debug logging? I am not seeing this myself.

[2019-01-29 14:02] Pensive commented on #14
Ah....

I want to remain local - I thought this used xmpp. I’ve enabled it as a beta function.

Thanks but I don’t want to link in an external server dependency into my smart home system.

Can you mention it uses websockets

[2019-01-29 14:04] materik commented on #14
sure

[2019-01-29 14:04] #14 closed

[2019-01-29 18:57] twynne opened #17 "Multiple Harmony plugins"
Trying to move to this fully since the last release seems to have addressed multiple hubs, but when I install and update my config, Homebridge crashes with the following:

Error: The requested platform 'HarmonyHub' has been registered multiple times. Please be more specific by writing one of: homebridge-harmonyhub.HarmonyHub, homebridge-harmonyhub-plugin.HarmonyHub
    at API.platform (/usr/local/

[2019-01-30 09:10] AirBorne04 commented on #17
did you try to remove the `homebridge-harmonyhub` npm package from the global npm packages?
`npm uninstall -g homebridge-harmonyhub`

[2019-01-30 09:17] AirBorne04 commented on #13
hi @pgrill79 you have set the `DEBUG` environment var to `harmonyhub:discover` therefore you do get the log of the `@harmonyhub/discover` package (exactly what you have posted above). Try `export DEBUG=""` to remove the logging, btw this is not the error log :)

[2019-01-30 11:34] twynne commented on #17
Thanks.  Managed to get there in the end by removing all Harmony details from the config, bringing Homebridge back up, then using ConfigUI.  I could then see that there were multiple Harmony plugins still there (these oddly didn't show before!)

Swapped over to this version of the plugin and got it all running again.  Still not seeing both of my hubs so I'll investigate that next.

[2019-01-30 11:34] #17 closed

[2019-01-30 18:50] pponce opened #18 "Question when setting up a "Done watching TV scene""
I have 5 activities and i'd like to have just one "done watching" scene.
If I place all 5 activities in the scene to turn off, will it send the off event 5 times?
or will it just send the off command for the one activity that is actually on?
Does it make sense to expose a generic "turn off" any activity switch?

[2019-01-30 19:23] pgrill79 commented on #13
Hi @AirBorne04 , @materik:

i checked the env variables and i haven't had a DEBUG entry at all - then i tried to set it to "" with the export command. (i also rebooted the raspi afterwards)

Then i see:

[...]
SUDO_GID=1000
DISPLAY=:10.0
DEBUG=
USERNAME=root
[...]

if i type "env" to the command line. (i also added it to the /etc/profile to be set everytime when restarting)

But nevertheless i sti

[2019-01-30 21:14] Pensive opened #19 "Error: Can't send data because WebSocket is not opened."
I'm triggering this activity from a hue switch configured through homekit.

Wierd thing is if I open up the apple home app and select the Netflix Activity - it works. as does siri commands.

It seems its only the Philips Hue switch homekit binding that comes up with the websocket error.

One in 10 times i run it - it works

But as far as having a Hue Switch which turns on the Netflix harmony activ

[2019-01-30 21:19] Pensive commented on #19
Case in point - now i've woken up the websocket - the hue switch buttons are working fine.

[2019-01-31 08:10] materik commented on #18
In my home app i have a "Turn Off TV" scene which switches off all related harmony activities. This works. I don't remember if I did a check or if the harmony hub doesn't except a turn off activity if it's already off.

[2019-02-05 15:52] #18 closed

[2019-02-05 15:54] materik commented on #19
Hmm. Do not know what you expect this package to do about this.

[2019-02-05 16:02] Pensive commented on #19
It must be related to this package - I used to use Samsung Tizen plugin from tavicu like this reliably :-/

[2019-02-05 20:34] Pensive commented on #19
Well - ive changed over to Nicoduj's plugin instead - if it does the same thing - we'll know its unlikley to be plugin related and something to with the hue homekit implementation.

[2019-02-06 07:18] #19 closed

[2019-02-06 07:53] Pensive commented on #19
This morning I experienced a similar problem; last night the switch worked - this morning it doesn’t. The hue switch is telling HomeKit it is being clicked but the plugin doesn’t respond. There’s no error message on the other plugin - but it’s safe to say there’s something wrong with the websocket implementation on both plugins.

I’m going to revert to the local plugin now. Thanks anyway.

[2019-02-06 08:00] Pensive commented on #19
Tell a lie - it still works but there’s a 20 second delay from a button press for some reason. I’ll post it on the other plugin as an issue.

I’m convinced they’re linked.

[2019-02-06 08:10] materik commented on #19
Thanks for keeping me posted. If you ever feel that there is something I can do please reopen this issue. Until then I have a hard time follow what exactly goes wrong because I don't experience the same thing. Thanks!

[2019-02-06 20:45] materik commented on #15
I looked through what you can do with the TV interface and it isn't really compatible with what you can do with Harmony Hub. Think the Switch is the best accessory for now.

[2019-02-06 20:45] #15 closed

[2019-02-06 20:46] materik commented on #13
I'm sorry you're having problem. Are you still experience this or is there something I can look into not having experienced this myself.

[2019-02-07 13:51] AirBorne04 commented on #13
Hi @pgrill79,
i was checking a little bit more and can't seem to be able to find a reason for this behavior, which command are you using to start your homebridge service?

[2019-02-08 00:44] RXM307 commented on #15
Looks like there's another fork that has already implemented this functionality it might be worth porting in the changes? https://github.com/nicoduj/homebridge-harmony

[2019-02-15 22:10] dVIAN13 opened #20 "may want to update readme / add instructions for new firmware 4.15.250"
see https://community.logitech.com/s/question/0D55A00008OsX3CSAV/update-to-accessing-harmony-hubs-local-api-via-xmpp..

I think adding a note that mentions enabling XMPP access is required..

[2019-02-18 23:14] mensa84 opened #21 "Problems with FW 4.15.250"
Hello,

since Harmony Hub Firmware 4.15.250 the plugin throws a lot of errors and can not control Harmony activities or even get correct state.

XMPP for all my Hubs is enabled in new App/FW version.

Will there be a fix soon please?

[2019-02-19 00:19] mensa84 commented on #21
These are the errors at homebridge startup with Harmony Hubs on FW 4.15.250:

`Feb 19 01:15:24 Server homebridge[9076]: [2/19/2019, 1:15:24 AM] [homebridge-harmonyhub-plugin] {HarmonyHub} Found <2> hubs
Feb 19 01:15:24 Server homebridge[9076]: [2/19/2019, 1:15:24 AM] [homebridge-harmonyhub-plugin] {HarmonyHub} <762da678-4cdb-48f7-8236-b407edd3d714> <Harmony Wohnzimmer>
Feb 19 01:15:24 Server homeb

[2019-02-19 08:59] materik commented on #21
ok. will have a look.

[2019-02-19 09:17] xMAIKx commented on #21
Hello, it does not work for me anymore. Is it perhaps with the new npm version together?

[2019-02-19 10:56] mensa84 commented on #21
I have the same problems with npm 6.7.0 and 6.8.0.

[2019-02-19 16:45] jeffqchen commented on #21
Same problem here, Logitech at work yet again.

[2019-02-19 18:34] mensa84 opened #22 "Possibility to replace Hub with no need to re-configure everything? (UUID in cachedAceessories)"
Hello,

my Harmony Hub in the living room got defect and I want to go to replace it with a new one. Using the MyHarmony software it will be easy to restore the Logitech Harmony configuration on the hub.

But for the homebridge-harmony plugin the new hub will show up with a new UUID.

Which steps would be necessary to make homebridge-harmony plugin think, that the new hub is the same one as the old

[2019-02-20 17:45] x5nder commented on #21
Same here; enabled XMPP access on firmware 4.15.250 but the plugin crashes. Hope you can fix this soon :-(

[2019-02-22 20:16] mensa84 commented on #21
Any progress on this?

[2019-02-22 20:28] materik commented on #21
@mensa84 I'm having a look now.

[2019-02-22 20:49] materik commented on #21
I've tried to update some packages but it seems to be deeper rooted than what i'm capable of fixing. Maybe @AirBorne04 has some ideas.

[2019-02-24 22:28] recipriversexcluson commented on #21
I love this tool. Is there any way to revert to an old working version? It only stopped working when I updated.

[2019-02-25 02:25] recipriversexcluson commented on #21
It works here. Latest firmware and enabled XMPP.

[2019-02-25 05:01] xMAIKx commented on #21
That can not be. It does not work here.

[2019-02-25 11:21] recipriversexcluson commented on #21
That's unusual. What could be different?

[2019-02-25 11:35] AirBorne04 commented on #21
hi, i did not verify yet that the `xmpp` client is working again correctly. But afaik this plugin is running with the `websocket` version which should not have been changed in any way since the update, but i will validate both plugins and apply possibly needed fixes.

[2019-02-25 12:31] mmutreja commented on #21
I am seeing the exact same exceptions with firmware 250.  XMPP enabled

[2019-02-26 11:37] AirBorne04 commented on #21
hi @materik i have fixed the client-ws lib so it should work fine again with the latest hub firmware.

[2019-02-26 11:47] materik commented on #21
@AirBorne04 Super!

[2019-02-26 11:53] materik commented on #21
@mensa84 try installing `npm install -g materik/homebridge-harmony-plugin#develop` and see if that works. I haven't tested it myself yet but will do when I get home.

[2019-02-26 12:30] mensa84 commented on #21
Hello, when I try that command, I get that error:

[code]

[2019-02-26 12:31] mmutreja commented on #21
It looks like we don't have access to the develop branch.

[2019-02-26 13:18] materik commented on #21
ah. i wrote the wrong project name. should be:
```npm install -g materik/homebridge-harmonyhub-plugin#develop```
my bad

[2019-02-26 13:46] mensa84 commented on #21
It works again now! Thanks a lot to all!
So it does not need XMPP, right? Cause it currently is disabled on my hubs and the plugin is wokring anyway.

[2019-02-26 13:52] materik commented on #21
it currently uses websockets

[2019-02-26 13:53] mensa84 commented on #21
Cool, thx!
Will there be a new release today?

[2019-02-26 13:55] materik commented on #21
yes. will try it at home first and then make a new release.

[2019-02-26 13:56] mensa84 opened #24 "Possibility to replace Hub with no need to re-configure everything? (UUID in cachedAceessories)"
Hello,

my Harmony Hub in the living room got defect and I want to go to replace it with a new one. Using the MyHarmony software it will be easy to restore the Logitech Harmony configuration on the hub.

But for the homebridge-harmony plugin the new hub will show up with a new UUID.

Which steps would be necessary to make homebridge-harmony plugin think, that the new hub is the same one as the old

[2019-02-26 16:14] mensa84 commented on #24
Sorry, I did double open that. Please remove one.

[2019-02-26 16:14] mensa84 commented on #21
I did find another problem :(

I have 2 Harmony hubs.
The states of one hub are not refreshed in Homekit/Homebridge when I change the activity by Harmony Remote or Harmony App. The states are refreshed when I close the Home App on iPhone and re-open it. But that is a problem for automations. Why are the states of the second hub not recognized automatically like one the first one?

[2019-02-27 02:01] mmutreja commented on #21
Worked for me now.

[2019-02-27 06:54] materik commented on #21
@mensa84 can you create a new issue for that. keep in mind that I do not have two hubs so i have a hard time testing it out so be specific. this fix is in `0.5.6` so i'm closing this issue. thanks everyone!

[2019-02-27 06:54] #21 closed

[2019-02-27 06:55] #24 closed

[2019-02-27 06:55] mensa84 commented on #21
Ok, I will do if that problem appears again. Since yesterday it is suddenly working without problems again... Strange...

[2019-02-27 06:56] materik commented on #20
this package currently uses web sockets but might switch back to XMPP in the future if my dependencies permit.

[2019-02-27 06:56] #20 closed

[2019-02-27 06:57] materik commented on #13
@pgrill79 since this issue has become a bit stale i'm closing it. please let me know if you want to reopen it with more details to look into. thanks!

[2019-02-27 06:57] #13 closed

[2019-02-27 06:57] materik commented on #22
I will look into how this might be done.

[2019-02-27 23:24] starlessblack commented on #21
It stopped working because Harmony pushed an update to all hubs that disabled the custom-enabled XMPP protocol, but they now give you a button in the Harmony app to re-enable XMPP protocol: https://community.logitech.com/s/question/0D55A00008OsX3CSAV/update-to-accessing-harmony-hubs-local-api-via-xmpp

The good thing was that this allowed me to get your plugin working again, @materik, the bad news

[2019-02-27 23:30] acosmichippo commented on #21
i believe you can just delete /homebridge/accessories/cachedAccessories and restart.

[2019-02-28 00:32] starlessblack commented on #21
Oh, good call, @acosmichippo . I was looking at the cachedAccessories file and dreading trying to figure out which harmony references to delete and which to leave. Thanks a bunch!

[2019-02-28 07:24] mensa84 opened #25 "2 hubs: States of one hub are often not recognized"
Hello, I have 2 Harmony hubs.
The states of one hub are not refreshed in Homekit/Homebridge when I change the activity by Harmony Remote or Harmony App very often. The states are refreshed when I close the Home App on iPhone and re-open it. But that is a problem for automations.
Why are the states of the second hub not recognized automatically like one the first one?
Could it be a problem, that th

[2019-03-07 11:24] zork17 opened #26 "This plugin crashes Homebridge"
I get the following:
[code]

I have installed the plugin.
I have two Homebridge services - one that handles the KNX devices and one with all the rest.
Maybe I need to install the plugin in a different way than other plugins?
Does this plugin support multiple Harmony hubs?

[2019-03-07 12:39] materik commented on #26
It should. Are you sure you have setup your config.json file correctly?

[2019-03-07 12:42] zork17 commented on #26
in the config.json I've just added:
[code]

I installed it like every other plugin: sudo npm install -g homebridge-harmonyhub-plugin

[2019-03-07 14:09] materik commented on #26
should work :/

[2019-03-07 14:58] zork17 commented on #26
but it doesn't.
anything I can do?

[2019-03-07 16:39] materik commented on #26
your setup seem fine by me. so the only thing that I'm not sure about is the two homebridges so should be related to that.

[2019-03-08 07:20] zork17 commented on #26
As I said I have 2 Homebridge services:
Homebridge which has all the KNX devices.
and Homebridge-NKNX which has all the non KNX devices, including this plugin in its config.json.

The service definition file for both of them is the same, except for the command line parameters for Homebridge.

The command line parameters are:
[code]
I saw this setup somewhere in the Homebridge or KNX forum.
They wo

[2019-03-08 09:57] materik commented on #26
could it be something to do with you running it as sudo.

[2019-03-08 10:03] johanhansen commented on #26
Are you sure that the plugin actually is located in /home/pi/node_modules? My experience is that the node_modules can end up in unexpected locations. Try to omit "-P /home/pi/node_modules" and let Node find the plugin by checking it's known node_modules locations.

[2019-03-09 15:00] zork17 commented on #26
@materik

I tried to install without sudo but it doesn't work

@johanhansen

I also tried without -P /home/pi/node_modules
but homebridge crashed because it didn't find other plugins.

Since this configuration worked for me with many plugins, I think there must be a differece in the install of this plugin that causes it to crash in my setup.
I noticed that during the install there was some kind of

[2019-03-12 15:49] emes opened #27 "Support different network"
First, thanks so much for this!

To deal with Harmony hub being on a different network, I need to be able to pass an option to discover, like this in harmonyhub.js...

```let explorer = new Explorer(61991, { address: "192.168.38.255" });```

Would you consider adding a config option which defaults to {}?

https://github.com/AirBorne04/harmonyhub/blob/master/packages/discover/examples/discover-with

[2019-03-12 17:18] materik commented on #27
yes. I have thought about this. will hopefully have the time to sit down with this soon.

[2019-03-12 17:50] materik commented on #25
could you please send me the log from your homebridge with debug enabled? maybe difficult to catch it in the act but it would be very helpful in fixing it.

[2019-03-12 17:52] materik commented on #22
I've been wondering about this. Not sure if the activites will change UUID too and in that case is it enough changing the uuid in cachedaccessories?

[2019-03-12 17:55] mensa84 commented on #25
how can i do that?

[2019-03-12 17:56] mensa84 commented on #22
I did re-add it in the meanwhile, so I can't say if that would have worked.

[2019-03-12 18:02] materik commented on #27
You can try out a fix for it by installing the particular feature branch like this:
`npm install -g materik/homebridge-harmonyhub-plugin#feature/config`. Read the README file in this brach which details how you can add explorer options. Let me know how it goes.

[2019-03-12 18:38] materik commented on #25
if you run your homebridge as `homebridge -D` and as soon as you notice that the other hub isn't responding, copy the latest log and paste it here.

[2019-03-12 18:40] materik commented on #26
can you see if the package is located in the folder `home/pi/node_modules/`

[2019-03-13 11:21] zork17 commented on #26
no, it is not in: `home/pi/node_modules/`
it is in: `/usr/lib/node_modules/` with many other plugins that work fine.

[2019-03-14 07:43] materik commented on #26
try to install it at both locations...

[2019-03-14 07:47] zork17 commented on #26
how do I do that?

Also, I think my problems are because I have 2 places with modules:
`/usr/local/lib/node_modules`
and
`/usr/lib/node_modules`
is there a way to tell the system to work from now on with `/usr/local/lib/node_modules`
since when I install a new platform it is installed there, but it is run from `/usr/lib/node_modules`

[2019-03-14 09:24] materik commented on #26
either you can copy paste the folder to this location or do a symbol link or can't you supply install location to npm install?

[2019-03-17 15:31] zork17 commented on #26
It now finally works after removing all plugins and installing again in the same place.

[2019-03-17 15:31] #26 closed

[2019-03-17 19:56] nathsea opened #29 "re-creates activities when restarting homebridge"
HI I recently installed this plugin, works a treat. I have since rebooted my server a couple of times and it re-adds the activities every time as favourites and they appear on the front page ... a bit annoying, what am i doing wrong?

Cheers
Nath

[2019-03-18 08:06] materik commented on #29
This shouldn't happen if you only restarts the homebridge. It should pick up the server settings from the cachedaccessories and persistent folders so if you haven removed them it should be fine. If you restart harmonyhub however it might get a new id which setups new activities in homekit. Please send the debug log on startup if it happens again.

[2019-03-18 08:10] nathsea commented on #29
cheers, will do.

[2019-03-18 23:31] nathsea commented on #29
Hi I’ve noticed the same issue again tonight , but it doesn’t re add the activities it just turns on the favourites switch so they repopulate the home page
Nath

[2019-03-19 09:20] materik commented on #29
ok. can you post the log?

[2019-03-19 20:03] nathsea commented on #29
Yeah ... maybe , is there an easy way to view it 😬 the logs page doesn’t show loads , so I need to enable more thorough logs ?

[2019-03-19 20:50] nathsea commented on #29
![B7443F96-7D0D-4642-8984-F7BD6E82D9AA](https://user-images.githubusercontent.com/48316013/54640813-92c67c80-4a88-11e9-982d-5d8ac0d8f373.png)

[2019-03-20 08:27] materik commented on #29
hehe. you can enable debug by running homebridge with -D flag. but what i can see from this log it seems to start the bridge correctly from cached accessories. do you see that issue with the activities being favorited after this?

[2019-03-21 20:38] nathsea commented on #29
![B20FF210-4C28-4109-ACC4-E2940A42E40E](https://user-images.githubusercontent.com/48316013/54783384-2038d680-4c19-11e9-8dcc-55255673671e.png)
![D7F55F82-AFCE-46E2-A976-13066FEC06C6](https://user-images.githubusercontent.com/48316013/54783385-2038d680-4c19-11e9-849f-571ac1955038.png)
![D8123EDF-6157-430D-889D-51AEA18BF2EA](https://user-images.githubusercontent.com/48316013/54783386-2038d680-4c19-11

[2019-03-25 02:46] RXM307 commented on #25
I believe I'm getting this same issue

$ /usr/bin/homebridge -U /var/homebridge -D
[2019-3-25 12:44:59] Loaded config.json with 0 accessories and 3 platforms.
[2019-3-25 12:44:59] ---
[2019-3-25 12:45:00] Loaded plugin: homebridge-harmonyhub-plugin
[2019-3-25 12:45:00] Registering platform 'homebridge-harmonyhub-plugin.HarmonyHub'
[2019-3-25 12:45:00] ---
[2019-3-25 12:45:00] Loaded plugin: homebr

[2019-04-04 01:38] starlessblack opened #30 "HomeKit not recognizing state change for automation"
I have an automation that dims some lights when launching a Harmony activity, but it seems to have ceased working entirely when I use the Harmony physical remote or app to launch activity. When I use the Home app or Siri/HomeKit, it works as expected. This /seems/ to have coincided with either my move from the original homebridge-harmonyhub plugin to yours or when you moved from the xmpp to the we

[2019-05-24 06:42] emes commented on #27
Thanks for this and sorry I did not see sooner!  Works perfectly.  Only change was "address" rather than "ip".

[code]

[2019-06-08 15:10] igorhou opened #31 "Homebridge/harmonyhub-plugin "start as a service" issue"
Hello,
If homebridge starts as a service it only Initializing HarmonyHub platform and doesn't register plugin or any harmony hub activities, but if I stop homebridge service and start or if i run
`sudo systemctl restart homebridge`
all works fine.
Any ideas how to fix homebridge service startup?

Thank you

### Versions

- **Homebridge**: `homebridge --version`   0.4.50
- **Node**:       `node --v

[2019-06-30 16:13] JacVid commented on #19
Hello,

thanks a lot for your work ! It is really helpfull to be able to use Harmony device through HomeKit.

I've been using your plugin for more than 2 month now, and in my case, during the last weeks, I get errors in the logs. Here under an exemple :

[code]

Any idea of the problem ?

Thank you.

Jack

[2019-06-30 23:42] GavanWilhite opened #32 "No log entries after Initializing"
When I start up homebridge, this is the only entry I get from harmonyhub-plugin:

[6/30/2019, 4:35:18 PM] [homebridge-harmonyhub-plugin] Initializing HarmonyHub platform...
Setup Payload:
X-HM://0023ISYWYME6H
Scan this code with your HomeKit app on your iOS device to pair with Homebridge:
...

I don't see any additional entries, and while homebridge is a connected device in Home, I have no activit

[2019-08-15 02:48] jelzeinvmw commented on #29
I'm seeing the same issue above -- activities reset to defaults after restarting homebridge. Consistent, every time.

Log error: [8/14/2019, 10:40:54 PM] [homebridge-harmonyhub-plugin] {HarmonyHub} handleError: TypeError: Cannot read property 'result' of undefined
    at wsClient.sendRequest.then (/homebridge/node_modules/homebridge-harmonyhub-plugin/node_modules/@harmonyhub/client-ws/dist/harmony

[2019-10-23 01:07] jimmyd222 opened #33 "Removing Previous Activities"
I've been trying to remove an activity I no longer use and am stumped as for the best way to do this. I've tried to remove the platform from config.json, then uninstall the plugin, but the activity is still there. Also seems no way to just delete the switch from the Home App. Any suggestions would be appreciated!

[2020-04-20 13:05] acosmichippo commented on #19
I'm also seeing these web socket errors.  thought at first it might have something to do with my pihole, but I don't see any queries blocked from the Homebridge host.

[2020-05-02 07:53] arronpitman opened #34 "TypeError: self.name is not a function"
Fresh install of homebridge 1.0.4 and this plugin on Ubuntu 18.04.4 LTS.

Receive this message in the logs:

[5/2/2020, 5:43:38 PM] [homebridge-harmonyhub-plugin] {HarmonyHub} Found <1> hubs
[5/2/2020, 5:43:38 PM] [homebridge-harmonyhub-plugin] {HarmonyHub} <0260e285-54c5-4613-bd62-8690239aabd1> <Harmony Hub>
[5/2/2020, 5:43:38 PM] [homebridge-harmonyhub-plugin] {HarmonyHub} create new client for

[2020-05-02 12:49] #34 closed

[2020-05-04 11:24] nicoh88 commented on #34
Same here.

**What was wrong?**

[2020-05-12 22:46] MSDaytona opened #35 "Error message"
Starting the plug-in I am getting the following log with errors at the end
which do not make any sense to me. Who can help me.

[Homebridge - Harmony.pdf](https://github.com/materik/homebridge-harmonyhub-plugin/files/4618836/Homebridge.-.Harmony.pdf)

[2020-06-16 12:08] Blatzheim opened #36 "TV not showing as TV accessory"
I have my Pansonic TV set up with the HarmonyHub. I can control it completely through the harmony app, and also launch all my 5 activities through the plugin that change the TV's state.

Besides everything else working, however, no TV accessory is being added to my home-kit. As far as i am aware, this should happen by default.

My logs:
[code]

I have tried several configurations:

The standard on

[2020-06-18 09:22] #36 closed

[2020-06-30 08:18] arfNZ commented on #35
I am getting the same error.  Anyone got any bright ideas?

: [6/30/2020, 8:06:29 PM] Loaded plugin: homebridge-harmonyhub-plugin@0.5.6
: [6/30/2020, 8:06:29 PM] Registering platform 'homebridge-harmonyhub-plugin.HarmonyHub'
: [6/30/2020, 8:06:29 PM] ---
: [6/30/2020, 8:06:29 PM] Loading 1 platforms...
: [6/30/2020, 8:06:29 PM] [homebridge-harmonyhub-plugin] Initializing HarmonyHub platform...
: [

[2020-07-09 21:24] rem602 commented on #35
Never written js in my life and don't know why self.name() is valid on lines 11 and 13, but invalid on 15 but the code changes below eliminate the error.

hoobs@hoobs:~/.hoobs/node_modules/homebridge-harmonyhub-plugin/lib $ diff activity-service.js activity-service.js.orig
10d9
<     let name = self.name()
12c11
<     log.debug('{ActivityService} <' + self.id() + '> <' + name + '>')
---

14c13
<

[2020-07-16 21:52] Tesla-P100FX opened #37 "My first attempt at install"
**Confi.json added**

"platforms": [
    {
        "platform": "HarmonyHub",
        "name": "homebridge-harmonyhub-plugin"
    }
]
**Getting:**

HarmonyHubAccessory} loadActivities: TypeError: self.name is not a function
    at new ActivityService (C:\Users\Xxxxx\AppData\Roaming\npm\node_modules\homebridge-harmonyhub-plugin\lib\activity-service.js:15:64)
    at Accessory._this.addService (C:\User

[2020-07-18 15:49] Tesla-P100FX commented on #35
MSDatona  & arfNZ did you resolve this?   What did you do?  The above code from rem602 is not config.json code.

[2020-07-18 21:48] MSDaytona commented on #35
No I didn't / couldn't. And yes you are right the code from rem602 is not the config.json but the Homebridge output file listing the error code in question. I got he same.

[2020-08-16 09:20] Joop1953 commented on #37
I have the same problem. Nobody reacted to this.
Is there a solution?

[2020-09-30 20:00] BAngel87 commented on #33
Did you find a solution?

[2020-11-15 03:56] ianepperson opened #38 "Not working - TypeError: self.name is not a function."
I'm very new to Homebridge and am loving it. I tried this plugin to control my Harmony Hub but it isn't working for me. There's an error showing in the logs with a nice traceback though:

[code]

Running Homebridge v1.1.6 on a Raspberry Pi using https://github.com/homebridge/homebridge-raspbian-image

[2020-11-15 03:59] ianepperson commented on #38
Should each of these `self.name()` calls actually be `activity.name()`?

https://github.com/materik/homebridge-harmonyhub-plugin/blob/master/lib/activity-service.js#L11-L15

[2020-11-15 04:06] ianepperson commented on #35
Ah, I just filed a duplicate issue: #38

[2020-11-30 12:04] materik commented on #38
Sorry for my lack of response. Should be fixed now!

[2020-11-30 12:05] materik commented on #37
Sorry for my lack of response. Should be fixed now!

[2020-11-30 12:05] materik commented on #35
Sorry for my lack of response. Should be fixed now!

[2020-11-30 12:05] materik commented on #33
Try removing it from accessories

[2020-11-30 12:06] #32 closed

[2020-11-30 12:07] materik commented on #32
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 12:07] #33 closed

[2020-11-30 12:07] #35 closed

[2020-11-30 12:07] #37 closed

[2020-11-30 12:08] #38 closed

[2020-11-30 12:08] #31 closed

[2020-11-30 12:08] materik commented on #31
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 12:08] #27 closed

[2020-11-30 12:08] materik commented on #25
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 12:09] #25 closed

[2020-11-30 12:09] #22 closed

[2020-11-30 12:09] materik commented on #22
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 12:09] #30 closed

[2020-11-30 12:09] materik commented on #30
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 12:09] #29 closed

[2020-11-30 12:09] materik commented on #29
Sorry for my lack in response. Since this is so old I would guess you have moved on and it's fine to close it. If not, please reopen this. Thanks!

[2020-11-30 21:07] ianepperson commented on #38
Thanks @materik , it's working great now!

[2020-12-01 04:11] GavanWilhite commented on #32
If you have thoughts, I’d be keen

On Mon, Nov 30, 2020 at 4:07 AM Mattias F <notifications@github.com> wrote:

[2020-12-01 08:40] materik commented on #32
can you post your config file.

[2020-12-01 08:40] materik commented on #38
awesome 👍

[2020-12-11 14:41] ZimboGitHub opened #40 "Can`t get any HarmonyHub activities available in HomeKit"
Hi materik,
i have an problem to get the activities out of my HarmonyHub into the Homekit.
I installed it like descripted and your plugin will found my HarmonyHub, but that's it.
In the protokoll i saw following lines: and ther a "TypeError"

[11.12.2020, 15:01:22] [homebridge-harmonyhub-plugin] {HarmonyHub} Found <1> hubs
[11.12.2020, 15:01:22] [homebridge-harmonyhub-plugin] {HarmonyHub} <3b67236

[2020-12-29 21:41] Tramway4385 commented on #40
Hi

i have the same type error :-(

[2020-12-30 14:25] WinterC15 commented on #40
I'm having the same error. Does anyone know what we may have done wrong?

[2021-01-02 11:03] swoogi commented on #40
just comment out lib/plugin.js:51
the line is only for logging
it works for me

[2021-01-02 11:05] swoogi commented on #40
just comment out lib/plugin.js:51
the line is only for logging
it works for me

[2021-01-04 13:05] ZimboGitHub commented on #40
Hi Swogi,
thanks for your hint :-)
and a happy new year ;-)
But I'am a newby. Where i have to comment out?
What path ?
-->/usr/lib/node_modules/homebridge-harmonyhub-plugin ??? correct ??

Which  file ? --> i could not file a line for "lib/plugin.js:51"
How to  comment out --> "//" ???

Here are my harmony config out off the plugin: (of course xx are place holders)
{
    "platform": "HarmonyHub",

[2021-01-04 13:19] swoogi commented on #40
Ok, the path is in your log
third line of below
...
[11.12.2020, 15:01:22] [homebridge-harmonyhub-plugin] {Plugin} loadAccessories: TypeError: Cannot read property 'name' of undefined
at /usr/lib/node_modules/homebridge-harmonyhub-plugin/lib/plugin.js:51:61
...

SO, you must fix /usr/lib/node_modules/homebridge-harmonyhub-plugin/lib/plugin.js:51:61

51th line of the file /usr/lib/node_modules/home

[2021-01-04 15:01] ZimboGitHub commented on #40
thank's a lot for your quick response. It gave me the direction.
Out commenting the line #51 fixed the problem and my Harmony acctions are present now 👍
But for realy beginers without any Unix/Linux knowledge i wrote a short howto:

connect to your Homebridge e.g. Raspberry by any SSH-Terminal program e.g. "Putty"   --> "https://www.putty.org/"
login : pi
User : raspberry

"cd /usr/lib/node_module

[2021-01-11 01:17] starlessblack commented on #33
Hey there, @materik, what exactly do you mean by this? I've got an old stale activity I can't seem to remove either. Thanks!

[2021-02-22 23:50] gdotp01 opened #41 "Homebridge 1.3.0 error"
I updated to 1.3.0 and have been seeing an error in the log file since. It happens regularly but I think the plugin is still functioning

[22/02/2021, 22:39:28] [homebridge-harmonyhub-plugin] {HarmonyHubAccessory} updateStates: RangeError: Maximum call stack size exceeded
    at Characteristic.<anonymous> (/usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/Service.ts:661:56)

[2021-02-23 20:27] gdotp01 commented on #41
I’ll update this. The buttons are still in HomeKit but nothing works

[2021-03-06 18:11] gdavids57 opened #42 "loadAccessories: TypeError"
After upgrading to Homebridge 1.3.2, I started getting the following error in the log

_[3/6/2021, 9:04:53 AM] [homebridge-harmonyhub-plugin] {HarmonyHubAccessory} updateStates: RangeError: Maximum call stack size exceeded_

I uninstalled the plugin and reinstalled. Upon restart, I received the following in the log

[3/6/2021, 11:06:12 AM] Loaded plugin: homebridge-harmonyhub-plugin@0.5.8
[3/6/202

[2021-04-06 19:09] tkaudioservices commented on #42
I also get something similar

[code]

[2021-04-12 13:17] #40 closed

[2021-04-13 11:54] materik commented on #41
Hey. Sorry for late response. Would you mind installing and testing out 0.5.10. Thanks

[2021-04-13 11:54] materik commented on #42
Hey. Sorry for late response. Would you mind installing and testing out 0.5.10. Thanks

[2021-04-13 12:18] gdotp01 commented on #41
Hi. Sorry I don’t have it installed any longer as it was causing too many issues.

[2021-04-13 13:11] materik commented on #41
I understand. thanks anyway, I think this should be fixed now at least.

[2021-04-13 13:11] #41 closed

[2022-01-10 19:27] Mikez20 opened #46 "Handeling error keeps coming back"
I recently installed this Harmonyhub plugin. It looked like it was working fine, but after a while I got the following error message:

{HarmonyHub} handleError: Error: Can't send data because WebSocket is not opened.

After this message a lot of extra log is shown and repeated 7 times (I expect that is because the harmony hub has 7 activities configured). The repeated log looked exactly the same e

[2022-10-05 22:06] RWSmitty opened #47 "On iPhone running iOS 16 Activities all display the Device Name - not the Activity Name. On my iPad iPadOS 15.7, and on my parents iPhone running iOS 15.6 the Activity Names appear correctly."